# Prerequisites
*.d
*.zip

/bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.dll
*.out
*.app
*.sln
/.vs

.vscode/
*.obj
*.ilk
*.exp
*.lib
*.pdb
*.a
*.o
*.rdi
*.rdbg

/data/save_data/*

setup
jason_room_proj

jason_room_proj
u_Jason
game.rdbg
*.rdbg
