# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.sln
/.vs

.vscode/
*.exe
*.dll
*.obj
*.ilk
*.exp
*.lib
*.pdb
*.a
*.o

src/raylib/rmem.h    
src/raylib/raylib.h  
src/raylib/physac.h  
src/raylib/raymath.h
*.vsidx
*.ipch
*.db
bin/.vs/game/v17/.suo
setup
jason_room_proj

!/bin/game.exe
!/bin/game_code.dll
!/bin/raylib*
jason_room_proj
